<header>
    <div class="container mt-3">
        <h1 class="mb-3" style="text-align: center;">ModoFit Market</h1>
    </div>
</header>
<main>
    <hr>
    <section>
        <div class="container mt-3">
            <h3 class="mb-3" style="text-align: center;">Controles</h3>
        </div>
        <div class="container d-flex justify-content-around flex-wrap">
            {{#if products.hasPrevPage}}
            <a href="/products?page={{products.prevPage}}"><button>Anterior</button></a>
            {{/if}}

            {{#if products.hasNextPage}}
            <a href="/products?page={{products.nextPage}}{{products.sort}}"><button>Siguiente</button></a>
            {{/if}}

            <a href="/products?page={{products.page}}&sort=0"><button>Menor Precio ⬇</button></a>
            <a href="/products?page={{products.page}}&sort=1"><button>Mayor Precio ⬆</button></a>
            <a href="/products?page={{products.page}}"><button>Sacar Orden ⬌</button></a>

            <p>
                Página <span id="page">{{products.page}}</span> de <span id="total-pages">{{products.totalPages}} -
                </span>
                Total <span>{{products.totalDocs}}</span> Productos
            </p>
        </div>
        </div>
    </section>
    <hr>
    <section>
        <div class="container mt-3"></div>
        <h3 class="mb-3" style="text-align: center;">Lista de Productos</h3>
        </div>
        <div class="d-flex justify-content-around flex-wrap">
            <!-- Sin Websockets -->
            {{#each products.docs}}
            <div class="col-md-4 d-flex justify-content-around">
                <div class="card mb-4" style="width: 20rem">
                    <img src=../public/images/{{this.thumbnails}} class="card-img-top" alt="{{this.code}}">
                    <div class="card-body">
                        <h5 class="card-title">{{this.title}}</h5>
                        <p class="card-text">{{this.description}}</p>
                        <p class="card-text"><strong>Precio: ${{this.price}}</strong></p>
                    </div>
                    <div class="d-flex justify-content-around">
                        <a href="/products/{{this._id}}">
                            <button type="button" class="btn btn-primary">Ver detalle</button>
                        </a>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </section>
</main>