<header>
    <div class="container mt-3">
        <h1 class="mb-3" style="text-align: center;">Lista de Productos</h1>
    </div>
</header>
<main>
    <section>
        <div class="d-flex justify-content-around flex-wrap">
            <!-- Sin Websockets -->
            {{#each products}}
            <div class="col-md-4 d-flex justify-content-around">
                <div class="card mb-4" style="width: 20rem">
                    <img src=../public/images/{{this.thumbnails}} class="card-img-top" alt="{{this.code}}">
                    <div class="card-body">
                        <h5 class="card-title">{{this.title}}</h5>
                        <p class="card-text">{{this.description}}</p>
                        <p class="card-text"><strong>Precio: ${{this.price}}</strong></p>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </section>
</main>